body {
    .header {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        
        .logo {
            width: 5rem;
        }
        
        .name {
            font-family: 'Roboto Flex';
            @media(max-width: 480px){
                font-size: 18px;
            }
            
        }

        .links {
            display: grid;
            gap: 1.5rem;
            grid-auto-flow: column;
            padding-right: 2.2rem;

            @media(max-width: 400px){
                grid-auto-flow: row;
            }
           
            a {
                text-decoration: none;
                color: rgb(114, 97, 97);
                transition: .5s;
                font-family: 'Roboto Flex';
                width: 100;

                &:hover {
                    color: rgb(207, 24, 34); 
                }
            }
            
            .popUpPanel {
                position: relative;
                z-index: 1;
                &:hover {
                    .popContent {
                        display: block;
                        border: none;
                    }
                }
        
                .popButton {
                    font-size: 2rem;
                }
        
                .popContent {
                    display: none;
                    position: absolute;
                    background: #ddb2b2;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    
                }
        
                .popContent a {
                    z-index: 1;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    padding-top: 1.2rem;
                    padding-bottom: 1.2rem;
                    color: black;
                    transition: .5s;
                    
                    &:hover{
                        color: rgb(156, 12, 12);
                        background: #9c9c9c;
                    }
                }
            }
        }

        
    }
}
