body {
    #main {
        .about {
            display: grid;
            gap: 3rem;

            @media(min-width:425px){
                background: rgba(135,206,235, 0.4);
            }
            
            .boss {
                display: grid;
                gap: 1rem;
                justify-items: center;
                padding: 1rem;

                @media(min-width:425px){
                    background: rgba(135,206,235, 0.1);
                }
                
                .nadpis {
                    font-family: Roboto Flex;
                    font-size: 1.3rem;

                    @media(min-width: 768px){
                        font-size: 3rem;

                        .photos {
                            grid-auto-flow: column;
                        }
                    }
                }
                    .photos{
                        display: grid;
                        gap: 1rem;
                        justify-content: center;
                        width: 19rem;
                        @media(min-width: 768px){
                            grid-auto-flow: column;
                        }


                        h1 {
                            font-family: Roboto Flex;
                            text-align: center; 
                        }
                        
                        a {
                            color: #808080;
                            font-family: Roboto Flex;
                            text-decoration: none;
                        }
                        .adam {
                            display: none;
                            
                            .aboutMe {
                                
                            }

                            @media(min-width: 768px){
                                display: block;
                            }

                            img {
                                @media(min-width: 768px){
                                    display: block;
                                }
                            }
                        }

                        .simon {
                            display: none;

                            @media(min-width: 768px){
                                display: block;
                            }

                            img {
                                @media(min-width: 768px){
                                    display: block;
                                }
                            }
                        }

                        img {
                            width: 19rem;
                            height: 33rem;

                            @media(min-width: 768px){
                                display: none;
                            }
                        }
                    }
            }

                .text {
                    @media(min-width:425px){
                        background: rgba(215, 238, 247, 0.4);
                        padding: 1rem;
                    }
                    
                    

                    a {
                        font-family: Roboto Flex;
                        text-decoration: none;
                        color: black;
                    }

                    .nadpis {
                        font-family: Roboto Flex;
                    }

                    .founders {
                        .nadpis {
                            font-family: Roboto Flex;
                        }
    
                        .aboutMe {
                            color: #808080;
                            width: 19rem;
                        }

                        @media(min-width: 768px){
                            display: none;
                        }
                    }

                    .company {
                        color: #00CED1;

                    }

                    .beginning {
                        color: #48D1CC;
                    }

                    @media(min-width: 1440px){
                        font-size: 1.5rem;
                    }
                }
        }

        .album {
            .head {
                font-family: Roboto Flex;
                font-size: 2rem;
                text-align: center;
            }
            .albums {
                display: grid;
                justify-content: center;
                

                @media(min-width: 768px){
                    grid-template-columns:repeat(2, 1fr);
                    padding-left: 3rem;
                }
        
                @media(min-width: 1024px){
                    grid-template-columns:repeat(3, 1fr);
                    padding-left: 2rem;
                }
        
                @media(min-width: 1440px){
                    grid-template-columns:repeat(4, 1fr);
                }
        
                @media(min-width: 1900px){
                    grid-template-columns:repeat(5, 1fr);
                }
        
                @media(min-width: 2560px){
                    grid-template-columns:repeat(6, 1fr);
                }

                .photo_album {
                    display: grid;
                    gap: 0.5rem;
                    width: 19rem;
    
                    .albumName {
                        text-decoration: none;
                        text-align: center;
                        font-size: 2rem;
                        color: black;
                    }
                    .photo {
                        img {
                            width: 19rem;
                        }
                    }
                }
            }
        }
    }
}