body {
    .info {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;

        @media(min-width: 768px){
            grid-auto-flow: column;
        }
        .cennik {
            font-family: Roboto Flex;

            .tbCennik {
                border: 3px solid black;
                border-collapse: collapse;
                text-align: center;

                tr {
                    
                    th {
                        border: 1px solid black;
                        padding: 0.5rem;
                    }
                    td {
                        border: 1px solid black;
                        padding: 0.2rem;
                    }
                }
            }
        }
        .pracDoba {
            .cas {
                border: 3px solid black;
                border-collapse: collapse;
                text-align: center;
                font-family: Roboto Flex;
                
                @media(min-width: 425px){
                    margin-left: 4%;
                }
                
                tr {
                    
                    th {
                        border: 1px solid black;
                        padding: 0.85rem;
                    }
                    td {
                        border: 1px solid black;
                        padding: 0.7rem;
                    }
                }
            }
        }
    }
}