body {
    .ponuka {
        .zamestnanci {
            display: grid;
            gap: 3rem;
            background: #DCDCDC;
            padding-top: 2rem;
            padding-bottom: 2rem;

            @media(min-width: 768px){
                grid-template-columns:repeat(2, 1fr);
            }
    
            @media(min-width: 1024px){
                grid-template-columns:repeat(3, 1fr);
            }
    
            @media(min-width: 1440px){
                grid-template-columns:repeat(4, 1fr);
            }
    
            @media(min-width: 1900px){
                grid-template-columns:repeat(5, 1fr);
            }
    
            @media(min-width: 2560px){
                grid-template-columns:repeat(6, 1fr);
            }
            .zamestnanec {
                display: grid;
                gap: 0.5rem;
                justify-items: center;

                

                a {
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    font-family: Roboto Flex;
                }
                .name {
                    font-size: 25px;
                    padding-bottom: 0.5rem;
                }
                .about {
                    display: grid;
                    gap: 0.3rem;
                    .job {
                        font-size: 15px;
                        font-weight: 500;
                        opacity: .7;
                    }
                    .popis {
                        display: block;
                        width: 19rem;
                    }
                }
                
                img {
                    width: 19rem;
                    height: 30rem;
                    border-radius: 0 30% 30% 30%;
                }
            } 
        }
    }    

    .info {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        background: #F5F5F5;

        @media(min-width: 768px){
            grid-auto-flow: column;
        }
        .cennik {
            font-family: Roboto Flex;

            .tbCennik {
                border: 3px solid black;
                border-collapse: collapse;
                text-align: center;

                tr {
                    
                    th {
                        border: 1px solid black;
                        padding: 0.5rem;
                    }
                    td {
                        border: 1px solid black;
                        padding: 0.2rem;
                    }
                }
            }
        }
        .pracDoba {
            .cas {
                border: 3px solid black;
                border-collapse: collapse;
                text-align: center;
                font-family: Roboto Flex;
                
                @media(min-width: 425px){
                    margin-left: 4%;
                }
                
                tr {
                    
                    th {
                        border: 1px solid black;
                        padding: 0.85rem;
                    }
                    td {
                        border: 1px solid black;
                        padding: 0.7rem;
                    }
                }
            }
        }
    }
}