body .ponuka .sluzby {
  display: -ms-grid;
  display: grid;
  padding-bottom: 5rem;
  justify-items: center;
  background: #D3D3D3;
}

@media (min-width: 1024px) {
  body .ponuka .sluzby {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  body .ponuka .sluzby {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1900px) {
  body .ponuka .sluzby {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2560px) {
  body .ponuka .sluzby {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

body .ponuka .sluzby .sluzba {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  width: 310px;
}

@media (min-width: 768px) {
  body .ponuka .sluzby .sluzba {
    width: 760px;
  }
}

@media (min-width: 1024px) {
  body .ponuka .sluzby .sluzba {
    width: 1020px;
    grid-auto-flow: column;
  }
}

@media (min-width: 1440px) {
  body .ponuka .sluzby .sluzba {
    width: 1430px;
  }
}

@media (min-width: 1900px) {
  body .ponuka .sluzby .sluzba {
    width: 1890px;
  }
}

@media (min-width: 2560px) {
  body .ponuka .sluzby .sluzba {
    width: 2550px;
  }
}

body .ponuka .sluzby .sluzba a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: Roboto Flex;
  width: 100%;
}

body .ponuka .sluzby .sluzba .video img {
  width: 100%;
}

body .ponuka .sluzby .sluzba .descript {
  display: block;
  text-align: center;
}

body .ponuka .sluzby .sluzba .product {
  text-decoration: underline;
  text-align: center;
}

body .ponuka .sluzby .sluzba .product:hover {
  text-decoration: none;
}

body .ponuka .zamestnanci {
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  background: #DCDCDC;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  body .ponuka .zamestnanci {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  body .ponuka .zamestnanci {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  body .ponuka .zamestnanci {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1900px) {
  body .ponuka .zamestnanci {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2560px) {
  body .ponuka .zamestnanci {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

body .ponuka .zamestnanci .zamestnanec {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  justify-items: center;
}

body .ponuka .zamestnanci .zamestnanec a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: Roboto Flex;
}

body .ponuka .zamestnanci .zamestnanec .name {
  font-size: 25px;
  padding-bottom: 0.5rem;
}

body .ponuka .zamestnanci .zamestnanec .about {
  display: -ms-grid;
  display: grid;
  gap: 0.3rem;
}

body .ponuka .zamestnanci .zamestnanec .about .job {
  font-size: 15px;
  font-weight: 500;
  opacity: .7;
}

body .ponuka .zamestnanci .zamestnanec .about .popis {
  display: block;
  width: 19rem;
}

body .ponuka .zamestnanci .zamestnanec img {
  width: 19rem;
  height: 30rem;
  border-radius: 0 30% 30% 30%;
}

body .info {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 2rem;
  background: #F5F5F5;
}

@media (min-width: 768px) {
  body .info {
    grid-auto-flow: column;
  }
}

body .info .cennik {
  font-family: Roboto Flex;
}

body .info .cennik .tbCennik {
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
}

body .info .cennik .tbCennik tr th {
  border: 1px solid black;
  padding: 0.5rem;
}

body .info .cennik .tbCennik tr td {
  border: 1px solid black;
  padding: 0.2rem;
}

body .info .pracDoba .cas {
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
  font-family: Roboto Flex;
}

@media (min-width: 425px) {
  body .info .pracDoba .cas {
    margin-left: 4%;
  }
}

body .info .pracDoba .cas tr th {
  border: 1px solid black;
  padding: 0.85rem;
}

body .info .pracDoba .cas tr td {
  border: 1px solid black;
  padding: 0.7rem;
}
/*# sourceMappingURL=info.css.map */